body{
	margin:0;
	padding:0;
	font-size: 13px;
	font-family: Arial;
}
.leftmenu{
	width: 200px;
	background-color: #1f232a;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
}
.company_name{
	height: 100px;
	line-height: 100px;
	font-size: 18px;
	color: #FFF;
	text-align: center;	
}
.container{
	padding-left: 200px;
}
.top{
	height: 40px;
	background-color: #232830;
	color:#FFF;
	font-size: 13px;
}
.top_right{
	float: right;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	padding-right: 10px;
}
.top_right a{
	color: #FFF;
	text-decoration: none;
}
.menuArea{
	color: #FFF;
}
.menuArea ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.menuArea li{
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	padding-left: 30px;
	background-size: 15px 15px;
	background-repeat: no-repeat;
	background-position: 8px 12px;
}
.menuArea li:hover{
	background-color: #000;
}
.menuArea li a{
	color: #FFF;
	text-decoration: none;
	display: block;
}
.menuArea li:nth-child(1){
	background-image: url('../images/home.png');/*Image By Icomoon; http://www.icomoon.io*/
}
.menuArea li:nth-child(2){
	background-image: url('../images/key.png');/*Image By Yannick http://yanlu.de*/
}
.menuArea li:nth-child(3){
	background-image: url('../images/user.png');/*Image By Freepik*/
}
.menuArea li:nth-child(4){
	background-image: url('../images/client.png');/*Image By Vectors Market*/
}
.area{
	padding: 15px;

}
.tabArea{
	height: 40px;
}

.tabItem{
	float: left;
	width: 50%;
	height: 40px;
	line-height: 40px;
	text-align:center;
	border-bottom: 1px solid #000;
	background-color: #EEE;
	cursor: pointer;
}
.activeTab{
	border-bottom: 1px solid #FFF;
	background-color: #FFF;	
}

.tabBody{
	display: none;
	padding-top: 10px;
}

input[type=text],
input[type=email],
input[type=password],
select,
textarea{
	width: 100%;
	height: 40px;
	font-size: 13px;
	outline: 0;
	padding-left:5px;
	padding-right: 5px;
	margin-top: 5px; 
}
textarea{
	height: 100px;
	border: 1px solid #CCC;
}
input[type=submit],
button,
.button{
	border: 0;
	background-color: #224074;
	color: #FFF;
	height: 35px;
	line-height: 35px;
	border-radius: 3px;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
	font-size: 13px;
	display: inline-block;

}
.button_small{
	height: 25px;
	line-height: 25px;
}
.button a {
	color: #FFF;
	text-decoration: none;
}
table{
	margin-top: 10px;
}
table th {
	height: 40px;
	line-height: 40px;
	background-color: #DDD;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
}
table td{
	height: 40px;
	line-height: 40px;
	background-color: #EEE;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
}
.p_item{
	height: 25px;
	line-height: 25px;
}

.warning{
	border: 2px solid #FF0000;
	padding: 10px;
	border-radius: 5px;
	background-color: #FF9999;
	color: #FFF;
	margin-top: 10px;
	margin-bottom: 10px;
}
.pagination{
	margin-top: 20px;
	margin-bottom: 20px;
}
.pag_item{
	width: 20px;
	height: 20px;
	float: left;
	border: 1px solid #000;
	margin-right: 3px;
	text-align: center;
	line-height: 20px;

}
.pag_item a{
	color: #000;
	text-decoration: none;
}
.pag_active{
	background-color: #000;
}
.pag_active a{
	color: #FFF;
}
#search{
	width: 100px;
	float: right;
	padding:0;
	height: 25px;
	background-image: url('../images/search.png');/*Image by SimpleIcon (http://www.simpleicon.com)*/
	background-repeat: no-repeat;
	background-size: 15px 15px;
	background-position: 5px;
	padding-left: 24px;
	border-radius: 3px;
	border: 1px solid #000; 
}
.searchresults{
	width: 250px;
	background-color: #FFF;
	position: absolute;
	border: 1px solid #CCC;
}
.si{
	height: 20px;
	line-height: 20px;
	padding-left: 10px;
	cursor: pointer;
}
.si a{
	text-decoration: none;
	color: #000;
	display: block;
}
.si:hover{
	background-color: #EEE;
}